In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('merged_data_combined.csv')
df.isna().sum()

Year                             0
Country                         27
Region                           3
Happiness_Rank                   0
Happiness                        3
Explained_by_Trust               4
Explained_by_GDP                 3
Explained_by_Freedom             3
Explained_by_Generosity          3
Explained_by_Health              4
Explained_by_Social_support      3
Dystopia_Residual                5
ISO_Code                        27
Region_Code                      3
Life_Expectancy                213
Total_Population               208
dtype: int64

In [3]:
nan_TP = df['Total_Population'].isnull() == True
df.loc[nan_TP,:]

,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code,Region_Code,Life_Expectancy,Total_Population
17,2023,Czech Republic,Central and Eastern Europe,18,6.845,0.05000,1.82300,0.69300,0.15800,0.47700,1.54400,2.09900,CZ,CEE,NaN,NaN
26,2023,Taiwan,Eastern Asia,27,6.535,0.17800,1.89000,0.56200,0.06700,0.49200,1.37200,1.97400,TW,EAS,NaN,NaN
28,2023,Slovakia,Central and Eastern Europe,29,6.469,0.02200,1.73100,0.49400,0.12800,0.47200,1.54400,2.07800,SK,CEE,78.3554,NaN
56,2023,South Korea,Eastern Asia,57,5.951,0.16300,1.85300,0.44600,0.11200,0.60300,1.18800,1.58700,KR,EAS,NaN,NaN
61,2023,Kyrgyzstan,Commonwealth of Independent States,62,5.825,0.01800,1.06100,0.73500,0.23400,0.41700,1.43900,1.92000,KG,CIS,71.1600,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1362,2015,Egypt,Middle East and Northern Africa,135,4.194,0.06324,0.88180,0.17288,0.11291,0.61712,0.74700,1.59927,EG,MENAF,70.4831,NaN
1363,2015,Yemen,Middle East and Northern Africa,136,4.077,0.07854,0.54649,0.35571,0.09131,0.40064,0.68093,1.92313,YE,MENAF,65.8734,NaN
1366,2015,Congo,Sub-Saharan Africa,139,3.989,0.11686,0.67866,0.41466,0.12388,0.31051,0.66290,1.68135,CG,SSAF,63.2329,NaN
1378,2015,Ivory Coast,Sub-Saharan Africa,151,3.655,0.17922,0.46534,0.46866,0.20165,0.15185,0.77115,1.41723,CI,SSAF,NaN,NaN
1383,2015,Syria,Middle East and Northern Africa,156,3.006,0.18906,0.66320,0.15684,0.47179,0.72193,0.47489,0.32858,SY,MENAF,NaN,NaN

In [4]:
df.head()

,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code,Region_Code,Life_Expectancy,Total_Population
0,2023,Finland,Western Europe,1,7.804,0.535,1.888,0.772,0.126,0.535,1.585,2.363,FI,WE,82.5148,5559408.0
1,2023,Denmark,Western Europe,2,7.586,0.525,1.949,0.734,0.208,0.537,1.548,2.084,DK,WE,82.0326,5928585.0
2,2023,Iceland,Western Europe,3,7.530,0.187,1.926,0.738,0.250,0.559,1.620,2.250,IS,WE,82.9578,384303.0
3,2023,Israel,Middle East and Northern Africa,4,7.473,0.158,1.833,0.569,0.124,0.577,1.521,2.691,IL,MENAF,83.3861,9693280.0
4,2023,Netherlands,Western Europe,5,7.403,0.394,1.942,0.672,0.251,0.545,1.488,2.110,NL,WE,82.5802,17750264.0

In [5]:
# Load the data for 'New_source1_databank_worldbank_org.csv'
population_data = pd.read_csv('New_source1_databank_worldbank_org.csv')

# 'Czechia' is equivalent to 'Chech Republic'
czechia_population = population_data[population_data['Country Name'] == 'Czechia']

# Define the list of years to iterate through
years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

# Iterate through each year and fill NaN values in 'Total_Population' for 'Chech Republic' with the corresponding values from Czechia
for year in years:
    df.loc[(df['Country'] == 'Czech Republic') & df['Total_Population'].isna(), 'Total_Population'] = czechia_population[year].values[0]

In [6]:
# Extract the population data for Egypt for all years
egypt_population = population_data[population_data['Country Name'] == 'Egypt, Arab Rep.']

# Define the list of years to iterate through
years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

# Iterate through each year and fill NaN values in 'Total_Population' for 'Egypt' with the corresponding values from Egypt, Arab Rep.
for year in years:
    df.loc[(df['Country'] == 'Egypt') & df['Total_Population'].isna(), 'Total_Population'] = egypt_population[year].values[0]

# Extract the population data for Slovakia for all years
slovakia_population = population_data[population_data['Country Name'] == 'Slovak Republic']

# Define the list of years to iterate through
years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

# Iterate through each year and fill NaN values in 'Total_Population' for 'Slovakia' with the corresponding values from Slovak Republic
for year in years:
    df.loc[(df['Country'] == 'Slovakia') & df['Total_Population'].isna(), 'Total_Population'] = slovakia_population[year].values[0]

# Extract the population data for Kyrgyzstan for all years
kyrgyzstan_population = population_data[population_data['Country Name'] == 'Kyrgyz Republic']

# Define the list of years to iterate through
years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

# Iterate through each year and fill NaN values in 'Total_Population' for 'Kyrgyzstan' with the corresponding values from Kyrgyz Republic
for year in years:
    df.loc[(df['Country'] == 'Kyrgyzstan') & df['Total_Population'].isna(), 'Total_Population'] = kyrgyzstan_population[year].values[0]

# Extract the population data for Russian Federation for all years
russian_population = population_data[population_data['Country Name'] == 'Russian Federation']

# Define the list of years to iterate through
years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

# Iterate through each year and fill NaN values in 'Total_Population' for 'Russia' with the corresponding values from Russian Federation
for year in years:
    df.loc[(df['Country'] == 'Russia') & df['Total_Population'].isna(), 'Total_Population'] = russian_population[year].values[0]

# Extract the population data for Hong Kong for all years
hkpop = population_data[population_data['Country Name'] == 'Hong Kong SAR, China']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

# Iterate through each year and fill NaN values in 'Total_Population' with the corresponding values 
for year in years:
    df.loc[(df['Country'] == 'Hong Kong') & df['Total_Population'].isna(), 'Total_Population'] = hkpop[year].values[0]

# Extract the population data for Congo, Dem. Rep. for all years
cdpop = population_data[population_data['Country Name'] == 'Congo, Dem. Rep.']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

# Iterate through each year and fill NaN values in 'Total_Population' 
for year in years:
    df.loc[(df['Country'] == 'Congo (Kinshasa)') & df['Total_Population'].isna(), 'Total_Population'] = cdpop[year].values[0]

# Extract the population data for Congo, Rep. for all years
crpop = population_data[population_data['Country Name'] == 'Congo, Rep.']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Congo') & df['Total_Population'].isna(), 'Total_Population'] = crpop[year].values[0]

# Extract the population data for Venezuela for all years
vpop = population_data[population_data['Country Name'] == 'Venezuela, RB']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Venezuela') & df['Total_Population'].isna(), 'Total_Population'] = vpop[year].values[0]

lpop = population_data[population_data['Country Name'] == 'Lao PDR']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Laos') & df['Total_Population'].isna(), 'Total_Population'] = lpop[year].values[0]

icpop = population_data[population_data['Country Name'] == "Cote d'Ivoire"]

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Ivory Coast') & df['Total_Population'].isna(), 'Total_Population'] = icpop[year].values[0]

ipop = population_data[population_data['Country Name'] == 'Iran, Islamic Rep.']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Iran') & df['Total_Population'].isna(), 'Total_Population'] = ipop[year].values[0]

epop = population_data[population_data['Country Name'] == 'Eswatini']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Eswatini, Kingdom of*') & df['Total_Population'].isna(), 'Total_Population'] = epop[year].values[0]

ypop = population_data[population_data['Country Name'] == 'Yemen, Rep.']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Yemen') & df['Total_Population'].isna(), 'Total_Population'] = ypop[year].values[0]

tpop = population_data[population_data['Country Name'] == 'Turkiye']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Turkey') & df['Total_Population'].isna(), 'Total_Population'] = tpop[year].values[0]

spop = population_data[population_data['Country Name'] == 'Syrian Arab Republic']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Syria') & df['Total_Population'].isna(), 'Total_Population'] = spop[year].values[0]

ttpop = population_data[population_data['Country Name'] == 'Trinidad and Tobago']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Trinidad & Tobago') & df['Total_Population'].isna(), 'Total_Population'] = ttpop[year].values[0]

gpop = population_data[population_data['Country Name'] == 'Gambia, The']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Gambia') & df['Total_Population'].isna(), 'Total_Population'] = gpop[year].values[0]

kpop = population_data[population_data['Country Name'] == 'Korea, Rep.']

years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'South Korea') & df['Total_Population'].isna(), 'Total_Population'] = kpop[year].values[0]

# Makedonia and Somalia from new source
population_data = pd.read_csv('New_source2_databank_worldbank_org.csv')

# Extract the population data for Somalia for all years
sopop = population_data[population_data['Country Name'] == 'Somalia']

# Define the list of years to iterate through
years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Somaliland Region') & df['Total_Population'].isna(), 'Total_Population'] = sopop[year].values[0]

# Extract the population data for Makedonia for all years
mpop = population_data[population_data['Country Name'] == 'North Macedonia']

# Define the list of years to iterate through
years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

for year in years:
    df.loc[(df['Country'] == 'Macedonia') & df['Total_Population'].isna(), 'Total_Population'] = mpop[year].values[0]

df.isna().sum()

Year                             0
Country                         27
Region                           3
Happiness_Rank                   0
Happiness                        3
Explained_by_Trust               4
Explained_by_GDP                 3
Explained_by_Freedom             3
Explained_by_Generosity          3
Explained_by_Health              4
Explained_by_Social_support      3
Dystopia_Residual                5
ISO_Code                        27
Region_Code                      3
Life_Expectancy                213
Total_Population                45
dtype: int64

In [7]:
df.to_csv('Unifying_External_Variations_Population.csv', index=False)