In [1]:
import pandas as pd
import plotly.graph_objects as go

df_15 = pd.read_csv("2015.csv")
df_15.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [2]:
df_16 = pd.read_csv("2016.csv")
df_16.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [3]:
df_17 = pd.read_csv("2017.csv")
df_17.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [4]:
df_18 = pd.read_csv("2018.csv")
df_18 = df_18.rename(columns= {"Country or region" : "Country"})
df_18.head()
df_18.to_csv("2018.csv", index=False)

In [5]:
df_19 = pd.read_csv("2019.csv")
df_19 = df_19.rename(columns= {"Country or region" : "Country"})
df_19.head()
df_19.to_csv("2019.csv", index=False)

In [6]:
df_20 = pd.read_csv("2020.csv")
df_20 = df_20.rename(columns= {"Country name" : "Country"})
df_20.head()
df_20.to_csv("2020.csv", index=False)

In [7]:
df_21 = pd.read_csv("2021.csv")
df_21 = df_21.rename(columns= {"Country name" : "Country"})
df_21.head()

,Country,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [8]:
df_22 = pd.read_csv("2022.csv")
df_22.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [9]:
df_23 = pd.read_csv("2023.csv")
df_23 = df_23.rename(columns= {"Country name" : "Country"})
df_23.head()

,Country,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.804,0.036,7.875,7.733,10.792,0.969,71.150,0.961,-0.019,0.182,1.778,1.888,1.585,0.535,0.772,0.126,0.535,2.363
1,Denmark,7.586,0.041,7.667,7.506,10.962,0.954,71.250,0.934,0.134,0.196,1.778,1.949,1.548,0.537,0.734,0.208,0.525,2.084
2,Iceland,7.530,0.049,7.625,7.434,10.896,0.983,72.050,0.936,0.211,0.668,1.778,1.926,1.620,0.559,0.738,0.250,0.187,2.250
3,Israel,7.473,0.032,7.535,7.411,10.639,0.943,72.697,0.809,-0.023,0.708,1.778,1.833,1.521,0.577,0.569,0.124,0.158,2.691
4,Netherlands,7.403,0.029,7.460,7.346,10.942,0.930,71.550,0.887,0.213,0.379,1.778,1.942,1.488,0.545,0.672,0.251,0.394,2.110

In [11]:
df = pd.read_csv("time_series_covid_19_confirmed.csv")

df = df.rename(columns= {"Country/Region" : "Country"})
df.head()

,Province/State,Country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180

In [16]:
selected_columns = df[['Long', 'Lat', 'Country']]

# Erstellen Sie ein neues DataFrame, das nur die ausgewählten Spalten enthält
new_df = pd.DataFrame(selected_columns)
new_df.head()
new_df.to_csv("Lage_Länder.csv", index=False)

In [17]:
print(df_18['Country'].unique)
print(new_df['Country'].unique)

<bound method Series.unique of 0                       Finland
1                        Norway
2                       Denmark
3                       Iceland
4                   Switzerland
                 ...
151                       Yemen
152                    Tanzania
153                 South Sudan
154    Central African Republic
155                     Burundi
Name: Country, Length: 156, dtype: object>
<bound method Series.unique of 0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
271               Vietnam
272    West Bank and Gaza
273                 Yemen
274                Zambia
275              Zimbabwe
Name: Country, Length: 276, dtype: object>

In [18]:
# Finden Sie die gemeinsamen Werte zwischen Spalte_A von df1 und Spalte_B von df2
gemeinsame_werte = pd.Series(list(set(df_18['Country']) & set(new_df['Country'])))
gemeinsame_werte =gemeinsame_werte.sort_values(ascending=True)
# Finden Sie die Werte, die in Spalte_A von df1, aber nicht in Spalte_B von df2 enthalten sind
werte_nur_in_df_18 = df_18[~df_18['Country'].isin(new_df['Country'])]

# Finden Sie die Werte, die in Spalte_B von df2, aber nicht in Spalte_A von df1 enthalten sind
werte_nur_in_new_df = new_df[~new_df['Country'].isin(df_18['Country'])]

# Sortieren Sie die DataFrames ohne inplace=True
werte_nur_in_df_18 = werte_nur_in_df_18.sort_values(by='Country', ascending=True)
werte_nur_in_new_df = werte_nur_in_new_df.sort_values(by='Country', ascending=True)

# Ausgabe der Ergebnisse
print("Gemeinsame Werte:")
print("________________________")
print(gemeinsame_werte.tolist())
print("________________________")
print("Werte nur in df_18:")
print("________________________")
print(werte_nur_in_df_18['Country'].tolist())
print("________________________")
print("Werte nur in new_df:")
print("________________________")
print(werte_nur_in_new_df['Country'].tolist())

Gemeinsame Werte:
________________________
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cyprus', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
________________________
Werte nur in df_18:
________________________
['Czech Republic', 'Hong Kong', 'Ivory Coast', 'Macedonia', 'Myanmar', 'Northern Cyprus', 'Palestinian Territories', 'South Korea', 'Taiwan', 'Trinidad & Tobago', 'Turkmenistan', 'United States']
________________________
Werte nur in new_df:
________________________
['Andorra', 'Antigua and Barbuda', 'Bahamas', 'Barbados', 'Brunei', 'Burma', 'Cabo Verde', 'Comoros', "Cote d'Ivoire", 'Cuba', 'Czechia', 'Diamond Princess', 'Djibouti', 'Dominica', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Fiji', 'Gambia', 'Grenada', 'Guinea-Bissau', 'Guyana', 'Holy See', 'Kiribati', 'Korea, South', 'Liechtenstein', 'MS Zaandam', 'Maldives', 'Marshall Islands', 'Micronesia', 'Monaco', 'North Macedonia', 'Oman', 'Papua New Guinea', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Seychelles', 'Solomon Islands', 'Suriname', 'Taiwan*', 'Timor-Leste', 'Trinidad and Tobago', 'US', 'Vanuatu', 'West Bank and Gaza']

In [19]:
capital_coordinates = {
    'Czech Republic': {'Lat': 50.0755, 'Long': 14.4378}, 
    'Hong Kong': {'Lat': 22.3193, 'Long': 114.1694},
    'Ivory Coast': {'Lat': 6.5244, 'Long': -7.5100},
    'Macedonia': {'Lat': 41.9965, 'Long': 21.4314},
    'Myanmar': {'Lat': 19.7450, 'Long': 96.1297},
    'Northern Cyprus': {'Lat': 35.1864, 'Long': 33.3823},
    'Palestinian Territories': {'Lat': 31.7783, 'Long': 35.2066},
    'South Korea': {'Lat': 37.5665, 'Long': 126.9780},
    'Taiwan': {'Lat': 25.0320, 'Long': 121.5654},
    'Trinidad & Tobago': {'Lat': 10.6506, 'Long': -61.5137},
    'Turkmenistan': {'Lat': 37.9601, 'Long': 58.3253},
    'United States': {'Lat': 38.8951, 'Long': -77.0364}
}

for country, coordinates in capital_coordinates.items():
    if country not in new_df['Country'].values:
        new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)

C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)
C:\Users\laura\AppData\Local\Temp\ipykernel_15268\3687596955.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)

In [20]:
# Finden Sie die gemeinsamen Werte zwischen Spalte_A von df1 und Spalte_B von df2
gemeinsame_werte = pd.Series(list(set(df_18['Country']) & set(new_df['Country'])))
gemeinsame_werte =gemeinsame_werte.sort_values(ascending=True)
# Finden Sie die Werte, die in Spalte_A von df1, aber nicht in Spalte_B von df2 enthalten sind
werte_nur_in_df_18 = df_18[~df_18['Country'].isin(new_df['Country'])]

# Finden Sie die Werte, die in Spalte_B von df2, aber nicht in Spalte_A von df1 enthalten sind
werte_nur_in_new_df = new_df[~new_df['Country'].isin(df_18['Country'])]

# Sortieren Sie die DataFrames ohne inplace=True
werte_nur_in_df_18 = werte_nur_in_df_18.sort_values(by='Country', ascending=True)
werte_nur_in_new_df = werte_nur_in_new_df.sort_values(by='Country', ascending=True)

# Ausgabe der Ergebnisse
print("Gemeinsame Werte:")
print("________________________")
print(gemeinsame_werte.tolist())
print("________________________")
print("Werte nur in df_18:")
print("________________________")
print(werte_nur_in_df_18['Country'].tolist())
print("________________________")
print("Werte nur in new_df:")
print("________________________")
print(werte_nur_in_new_df['Country'].tolist())

Gemeinsame Werte:
________________________
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Northern Cyprus', 'Norway', 'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad & Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
________________________
Werte nur in df_18:
________________________
[]
________________________
Werte nur in new_df:
________________________
['Andorra', 'Antigua and Barbuda', 'Bahamas', 'Barbados', 'Brunei', 'Burma', 'Cabo Verde', 'Comoros', "Cote d'Ivoire", 'Cuba', 'Czechia', 'Diamond Princess', 'Djibouti', 'Dominica', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Fiji', 'Gambia', 'Grenada', 'Guinea-Bissau', 'Guyana', 'Holy See', 'Kiribati', 'Korea, South', 'Liechtenstein', 'MS Zaandam', 'Maldives', 'Marshall Islands', 'Micronesia', 'Monaco', 'North Macedonia', 'Oman', 'Papua New Guinea', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Seychelles', 'Solomon Islands', 'Suriname', 'Taiwan*', 'Timor-Leste', 'Trinidad and Tobago', 'US', 'Vanuatu', 'West Bank and Gaza']

In [21]:
combined_df = df_18.merge(new_df, on='Country', how='inner')

In [22]:
combined_df['text'] = combined_df['Country'] + " " + combined_df["Score"].astype(str)
fig = go.Figure(data = go.Scattergeo(
    lon = combined_df["Long"],
    lat = combined_df["Lat"],
    text = combined_df["text"],
    mode = "markers",
    marker = dict(
        size = 12,
        opacity = 0.8,
        reversescale = True,
        autocolorscale = True,
        symbol = 'square',
        line = dict(
            width = 1,
            color = 'rgba(102, 102, 102)'
        ),
        cmin = 0,
        color = combined_df['Score'],
        cmax = combined_df['Score'].max(),
        colorbar_title = "Happiness 2018"
    )
))

fig.update_layout(
    title = "Happiness 2018",
    geo = dict(
        scope = "world",
        showland = True,
    )
)

fig.write_html('first_figure.html', auto_open=True)

In [5]:
total_list = df.groupby('Country')['4/13/20'].sum().tolist()

country_list = df["Country"].tolist()
country_set = set(country_list)
country_list = list(country_set)
country_list.sort()

new_df = pd.DataFrame(list(zip(country_list, total_list)), 
               columns =['Country', 'Total_Cases'])

In [10]:
colors = ["#F9F9F5", "#FAFAE6", "#FCFCCB", "#FCFCAE",  "#FCF1AE", "#FCEA7D", "#FCD97D",
          "#FCCE7D", "#FCC07D", "#FEB562", "#F9A648",  "#F98E48", "#FD8739", "#FE7519",
          "#FE5E19", "#FA520A", "#FA2B0A", "#9B1803",  "#861604", "#651104", "#570303",]


fig = go.Figure(data=go.Choropleth(
    locationmode = "country names",
    locations = df_18['Country'],
    z = df_18['Total_Cases'],
    text = df_18['Total_Cases'],
    colorscale = colors,
    autocolorscale=False,
    reversescale=False,
    colorbar_title = 'Happiness 2018-2020',
))

fig.update_layout(
    title_text='Reported Covid-19 Cases',
    geo=dict(
        showcoastlines=True,
    ),
)

fig.write_html('Happiness 2018-2020', auto_open=True)

In [21]:
import pandas as pd
import plotly.graph_objects as go

def generate_happiness_map():
    year = input("Geben Sie das Jahr ein (z.B. 2018): ")
    
    if year == "2018":
        # Hier sollte DataFrame "combined_df" bereits definiert sein
        combined_df['text'] = combined_df['Country'] + " " + combined_df["Score"].astype(str)
        
        fig = go.Figure(data = go.Scattergeo(
            lon = combined_df["Long"],
            lat = combined_df["Lat"],
            text = combined_df["text"],
            mode = "markers",
            marker = dict(
                size = 12,
                opacity = 0.8,
                reversescale = True,
                autocolorscale = True,
                symbol = 'square',
                line = dict(
                    width = 1,
                    color = 'rgba(102, 102, 102)'
                ),
                cmin = 0,
                color = combined_df['Score'],
                cmax = combined_df['Score'].max(),
                colorbar_title = "Happiness 2018"
            )
        ))

        fig.update_layout(
            title = "Happiness 2018",
            geo = dict(
                scope = "world",
                showland = True,
            )
        )

        fig.write_html('first_figure.html', auto_open=True)
    else:
        print("Das Jahr", year, "wird nicht unterstützt.")

# Rufen Sie die Funktion auf
generate_happiness_map()

Geben Sie das Jahr ein (z.B. 2018): 2018

In [ ]:
import pandas as pd

# Erstellen Sie eine Liste von DataFrames
dataframes = [df_18, df_19, df_20, df_21]  # Fügen Sie hier alle gewünschten DataFrames hinzu

# Initialisieren leere Listen für Ergebnisse
gemeinsame_werte_list = []
werte_nur_in_dataframes = []

# Spalte_B von df2 (new_df) festlegen
spalte_B = new_df['Country']

for year, dataframe in zip(range(2018, 2022), dataframes):
    # Finden Sie gemeinsame Werte
    gemeinsame_werte = pd.Series(list(set(dataframe['Country']) & set(spalte_B)))
    gemeinsame_werte = gemeinsame_werte.sort_values(ascending=True)
    gemeinsame_werte_list.append(gemeinsame_werte.tolist())

    # Finden Sie Werte nur in Spalte_A von df1
    werte_nur_in_dataframes.append(dataframe[~dataframe['Country'].isin(spalte_B)]['Country'].tolist())

# Ausgabe der Ergebnisse
for year, gemeinsame_werte, werte_nur_in_dataframe in zip(range(2018, 2022), gemeinsame_werte_list, werte_nur_in_dataframes):
    print(f"Gemeinsame Werte für {year}:")
    print("________________________")
    print(gemeinsame_werte)
    print("________________________")
    print(f"Werte nur in df_{year}:")
    print("________________________")
    print(werte_nur_in_dataframe)
    print("________________________")