In [1]:
import pycountry
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('merged_data_3.csv')

In [3]:
df.head()

,Unnamed: 0,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code
0,0,2023,Finland,Western Europe,1,7.804,0.535,1.888,0.772,0.126,0.535,1.585,2.363,FI
1,1,2023,Denmark,Western Europe,2,7.586,0.525,1.949,0.734,0.208,0.537,1.548,2.084,DK
2,2,2023,Iceland,Western Europe,3,7.530,0.187,1.926,0.738,0.250,0.559,1.620,2.250,IS
3,3,2023,Israel,Middle East and Northern Africa,4,7.473,0.158,1.833,0.569,0.124,0.577,1.521,2.691,IL
4,4,2023,Netherlands,Western Europe,5,7.403,0.394,1.942,0.672,0.251,0.545,1.488,2.110,NL

In [4]:
nan_ISO = df['ISO_Code'].isnull() == True
df.loc[nan_ISO,:]

,Unnamed: 0,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code
104,104,2023,Namibia,NaN,105,4.6310,0.071000,1.289000,0.383000,0.069000,0.145000,1.126000,1.549000,NaN
260,260,2022,Namibia,NaN,124,4.4590,0.071000,1.292000,0.384000,0.067000,0.354000,0.877000,1.414000,NaN
283,283,2022,xx,NaN,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,407,2021,Namibia,NaN,124,4.5740,0.059000,0.882000,0.411000,0.091000,0.262000,0.801000,2.068000,NaN
554,554,2020,Namibia,NaN,122,4.5711,0.054320,0.840082,0.444599,0.076454,0.406871,1.245738,1.503033,NaN
698,698,2019,Namibia,NaN,113,4.6390,0.056000,0.879000,0.401000,0.070000,0.477000,1.313000,1.443000,NaN
860,860,2018,Namibia,NaN,119,4.4410,0.064000,0.874000,0.519000,0.051000,0.365000,1.281000,1.287000,NaN
1008,1008,2017,Namibia,NaN,111,4.5740,0.093147,0.964434,0.520304,0.077134,0.338612,1.098471,1.481890,NaN
1165,1165,2016,Namibia,Sub-Saharan Africa,113,4.5740,0.103980,0.932870,0.486140,0.077950,0.347450,0.703620,1.921980,NaN

In [5]:
# Create a condition to identify rows with NaN ISO_Code and belonging to Namibia
condition = (df['ISO_Code'].isnull()) & (df['Country'] == 'Namibia')

# Update the ISO_Code for these rows to 'NA'
df.loc[condition, 'ISO_Code'] = 'NA'

In [6]:
missing_iso_codes = df[df['ISO_Code'].isna()]
missing_iso_codes

,Unnamed: 0,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code
283,283,2022,xx,NaN,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
iso_to_region_mapping = {
    'CZ': 'Central and Eastern Europe',
    'TW': 'Eastern Asia',
    'HK': 'Eastern Asia',
    'MK': 'Central and Eastern Europe',
    'PS': 'Middle East and Northern Africa',
    'NA': 'Sub-Saharan Africa',
    'TR': 'Middle East and Northern Africa',
    'GM': 'Sub-Saharan Africa',
    'LU': 'Western Europe',
    'GT': 'Latin America and Caribbean',
    'KW': 'Middle East and Northern Africa',
    'BY': 'Central and Eastern Europe',
    'TM': 'Commonwealth of Independent States',
    'CY': 'Western Europe',
    'LY': 'Middle East and Northern Africa',
    'AZ': 'Commonwealth of Independent States',
    'LR': 'Sub-Saharan Africa',
    'CG': 'Sub-Saharan Africa',
    'NE': 'Sub-Saharan Africa',
    'KM': 'Sub-Saharan Africa',
    'SZ': 'Sub-Saharan Africa',
    'MG': 'Sub-Saharan Africa',
    'TD': 'Sub-Saharan Africa',
    'YE': 'Middle East and Northern Africa',
    'MR': 'Sub-Saharan Africa',
    'LS': 'Sub-Saharan Africa',
    'BW': 'Sub-Saharan Africa',
    'RW': 'Sub-Saharan Africa',
    'MV': 'Sub-Saharan Africa',
    'SS': 'Sub-Saharan Africa',
    'TT': 'Latin America and Caribbean',
    'SO': 'Sub-Saharan Africa',
    'BZ': 'Latin America and Caribbean'
}

# Fill the "Region" column only for rows with missing regions
df.loc[df['Region'].isna(), 'Region'] = df['ISO_Code'].map(iso_to_region_mapping)

# Check the DataFrame for any remaining missing values in Region
missing_regions = df[df['Region'].isna()]

In [8]:
missing_regions

,Unnamed: 0,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code
283,283,2022,xx,NaN,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df['Region'].unique()

array(['Western Europe', 'Middle East and Northern Africa',
       'Australia and New Zealand', 'North America',
       'Central and Eastern Europe', 'Latin America and Caribbean',
       'Southeastern Asia', 'Eastern Asia', 'Sub-Saharan Africa',
       'Southern Asia', 'Commonwealth of Independent States', nan],
      dtype=object)

In [10]:
df.head()

,Unnamed: 0,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code
0,0,2023,Finland,Western Europe,1,7.804,0.535,1.888,0.772,0.126,0.535,1.585,2.363,FI
1,1,2023,Denmark,Western Europe,2,7.586,0.525,1.949,0.734,0.208,0.537,1.548,2.084,DK
2,2,2023,Iceland,Western Europe,3,7.530,0.187,1.926,0.738,0.250,0.559,1.620,2.250,IS
3,3,2023,Israel,Middle East and Northern Africa,4,7.473,0.158,1.833,0.569,0.124,0.577,1.521,2.691,IL
4,4,2023,Netherlands,Western Europe,5,7.403,0.394,1.942,0.672,0.251,0.545,1.488,2.110,NL

In [13]:
df['Region'].unique()

array(['Western Europe', 'Middle East and Northern Africa',
       'Australia and New Zealand', 'North America',
       'Central and Eastern Europe', 'Latin America and Caribbean',
       'Southeastern Asia', 'Eastern Asia', 'Sub-Saharan Africa',
       'Southern Asia', 'Commonwealth of Independent States', nan],
      dtype=object)

In [14]:
CIS = df['Region'] == 'Commonwealth of Independent States'
df.loc[CIS,:]

,Unnamed: 0,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code
214,214,2022,Turkmenistan*,Commonwealth of Independent States,78,5.474,0.032,1.484,0.649,0.314,0.516,1.319,1.160,TM
228,228,2022,Azerbaijan*,Commonwealth of Independent States,92,5.173,0.341,1.458,0.601,0.023,0.560,1.093,1.098,AZ

In [11]:
df.to_csv('merged_data_4.csv')